
.hero4{
    height: 48rem;
    width: 100%;
    padding-top: 6rem;
}

.box1{
    display: flex;
    position: relative;
    left: 20%;
    top: 2.35rem;
    height: 11rem;
    width: 53%;
    background-color: rgb(23, 23, 23);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 3rem;
    padding-left: 3%;
    font-size: 1.5rem;
}

.left{
    width: 50%;
}

.left span{
    color: purple;;
}

.right{
    width: 50%;
}

.imgbox{
    margin-left: 1rem;
    height: 32vh;
    width: 20vw;
    background-image: url(https://uploads-ssl.webflow.com/66096a30ae498a9206aee6a0/66096c1f342643f874b5d04b_8e30b2245b5770fd93af0783242ef9e9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}



.mar{
    margin-top: 1rem;
}

.box1 p{
    font-size: 1.25rem;
    color: gray;
}

.box2{
    position: relative;
    left: 15%;
    bottom: -5vh;
    height: 43vh;
    width: 70%;
    background-color: rgb(23, 23, 23);
    border: 1px solid black;
    border-radius: 2rem;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 9vh;
}

.getstarted2{
    height: 9vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 6vh;
    width: 26vw;
    border: none;
    border-radius: 1rem;
    font-size: 1.35rem;
    background-color: purple;
    text-align: start;
    cursor: pointer;
    box-shadow: 5px 5px 5px white;
}