// Global styles

$page-color: grey;
$text-color: green;

//Footer background
// $background-foot:linear-gradient(to right, #7b205e,#701657,#5b1444);
// $background-foot2:linear-gradient(to left, #7b205e,#701657,#5b1444);
$background-color:#5b1444;